In [1]:
import pandas as pd

In [14]:
df = pd.read_csv("heart_info.csv", sep=";")

In [15]:
df.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Action,bpm,blood_volume,last_action,last_bpm,last_blood_volume
0,0,0.0,0.0,2.0,126.543308,309.0,0.0,126.799975,237.0
1,1,1.0,1.0,0.0,121.886642,544.0,2.0,126.543308,309.0
2,2,2.0,2.0,1.0,119.429975,440.0,0.0,121.886642,544.0
3,3,3.0,3.0,1.0,116.973308,401.0,1.0,119.429975,440.0
4,4,4.0,4.0,0.0,112.316642,637.0,1.0,116.973308,401.0

In [16]:
len(df)

541